@model Cinema.Models.Calendar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Profile</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Details</h5>
                    </div>
                    <div class="card-body text-center">
                        <img style="aspect-ratio: 1 / 1;" src="@Model.Emloyee.Img" alt="@Model.Emloyee.Acc.FullName" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        <h5 class="card-title mb-0">@Html.DisplayFor(model => model.Emloyee.Acc.FullName)</h5><!--Full name-->
                        <div class="text-muted mb-2">@Html.DisplayFor(model => model.Emloyee.Position)</div><!--Position-->
                    </div>
                    <hr class="my-0" />
                </div>
            </div>

            <div class="col-md-8 col-xl-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0 mt-1">Thông tin chi tiết</h5>
                    </div>
                    <div class="card-body h-100 pt-0">
                        <div class="card-header pt-0">
                            <h5 class="card-title mb-0">ID Nhân viên</h5>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            @Html.DisplayFor(model => model.Emloyee.EmployeeId)
                        </div>
                        <hr />

                        <div class="card-header pt-0">
                            <h5 class="card-title mb-0">Họ và tên</h5>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            @Html.DisplayFor(model => model.Emloyee.Acc.FullName)
                        </div>
                        <hr />

                        <div class="card-header pt-0">
                            <h5 class="card-title mb-0">Tiêu đề</h5>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                        <hr />

                        <div class="card-header pt-0">
                            <h5 class="card-title mb-0">Ngày làm</h5>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            @Model.Date.ToString("dd/MM/yyyy")
                        </div>
                        <hr />

                        <div class="card-header pt-0">
                            <h5 class="card-title mb-0">Mô tả</h5>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                        <hr />

                        <div class="row justify-content-center">
                            <div class="d-grid col-md-3">
                                @Html.ActionLink("Trở về", "Index", "CalendarManage", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




